<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<!-- Navbar -->
<div th:replace="fragments/navbar :: navbar('announcements')">Navbar here</div>
<!-- EO: Navbar -->

<div class="my-2 d-flex justify-content-center">
  <h2>Welcome to the announcement board!</h2>
</div>

<div class="container">
  <div th:object="${announcement}"
       th:each="announcement: ${announcements}"
       class="my-3 border-secondary card">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <div th:text="*{title}" class="col-10">
          Title
        </div>
        <div>
          <a href="#" role="button">
            <i class="fas fa-edit mx-1"></i>
          </a>
          <a href="#" role="button">
            <i class="fas fa-trash mx-1"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p th:text="*{description}" class="card-text"></p>
    </div>
  </div>
</div>

<a class="new-button btn btn-primary rounded-circle" th:href="@{/announcements/new}" role="button">
  <i class="fas fa-plus"></i>
</a>

<!-- Bootstap JS -->
<div th:replace="fragments/bootstrap-js :: bootstrap-js"></div>
<!-- EO: Bootstap JS -->

</body>
</html>
