<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Tabula</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

<!-- Navbar -->
<div th:replace="fragments/navbar :: navbar('events')">Navbar here</div>
<!-- EO: Navbar -->

Welcome to Events, comming soon!

<!-- Bootstap JS -->
<div th:replace="fragments/bootstrap-js :: bootstrap-js"></div>
<!-- EO: Bootstap JS -->

</body>
</html>
