<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/head :: head"></head>
<body>

<!-- Navbar -->
<div th:replace="fragments/navbar :: navbar('events')">Navbar here</div>
<!-- EO: Navbar -->

Welcome to events! Calendar with events is comming soon :-)

<div class="container"
     th:each="week: ${weeks}">
  <!-- Starts the week row -->
  <div class="row">
    <div th:each="day: ${week.getDays()}"
        class="col-sm">
      <!-- Empty square -->
      <div th:if="${day.isEmpty()}">
        &nbsp;
      </div>
      <!-- EO: Empty square -->

      <!-- Day -->
      <div class="calendar-day border rounded" th:unless="${day.isEmpty()}">
        <div class="border-bottom" th:text="${day.getDay()}">Day 1</div>

        <!-- Events -->
        <div th:if="${day.getEvents().isEmpty()}">
          &nbsp;
        </div>

        <div th:unless="${day.getEvents().isEmpty()}">
          <div th:each="event: ${day.getEvents()}">
            <div class="small">
              <em th:text="${#dates.format(event.getEventTimeAsDate(), 'HH:mm')}"></em>
              <span data-toggle="tooltip"
                    th:title="${event.getDescription()}"
                    th:text="${event.getTitle()}">
              </span>
            </div>
          </div>
        </div>
        <!-- EO: Events -->

      </div>
      <!-- EO: Day -->
    </div>
  </div>
  <!-- EO: Ends the week row -->
</div>

<a class="new-button btn btn-primary rounded-circle" th:href="@{/events/new}" role="button">
  <i class="fas fa-plus"></i>
</a>

<!-- Bootstap JS -->
<div th:replace="fragments/bootstrap-js :: bootstrap-js"></div>
<!-- EO: Bootstap JS -->

<!-- Enable tooltips -->
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

</body>
</html>
